main {
  display: grid;
  place-content: center;
}

.form-wrapper {
  margin-bottom: 4rem;
}

.form-title {
  font-size: 2rem;
  margin-bottom: 2rem;
}

form .input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
  min-width: 50vw;
}

.input-wrapper label {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

form input:not(input[type="file"]):not(.button) {
  border: transparent;
  border-bottom: 2px solid var(--color-light-gray);
}

form input[type="file"] {
  border: transparent;
}

form input:focus:not(input[type="file"]):not(.button),
form input:focus-visible:not(input[type="file"]):not(.button),
form input:active:not(input[type="file"]):not(.button) {
  outline: transparent;
  border: transparent;
  border-bottom: 2px solid var(--color-navy);
}

input[type="file" i] {
  background-color: var(--color-light-gray);
  padding: 1rem 0.5rem;
}

form .forget-pass {
  font-size: 16px;
  text-align: right;
  margin: 8px 0 1rem;
}

label {
  min-width: 15ch;
  display: inline-block;
}