:root {
  --color-black: #000000;
  --color-navy: #14213d;
  --color-yellow: #fca311;
  --color-light-gray: #e5e5e5;
  --color-white: #ffffff;
  --box-shadow: 2px 16px 9px -10px rgba(20, 33, 61, 0.1);
  /* https://cssgenerator.org/box-shadow-css-generator.html */

}