@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";
@import "./variables.css";

/* Laytout */
html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main.container {
  width: 100%;
}

/* Header */
.navbar-brand img {
  object-fit: contain;
}

/* Footer */
.footer {
  background: var(--color-light-teal);
}

/* Utills */

/* scrolls */
html,
body {
  scroll-behavior: smooth;
}

/* Products */
.product-container {
  column-count: 3;
  gap: 2rem;

  @media (max-width: 640px) {
    column-count: 1;
  }
}

.product-container>div {
  break-inside: avoid-column;
}

.product-container .select.is-full,
.product-container select {
  width: 100%;
}