{% extends 'layout.html' %}
{% block title %}Log In{% endblock %}
{% block description %}Log in to your Fergusons' Operations account{% endblock %}
{% block content %}

<main class="container" id="content">
  <section class="header">
    <h1 class="title mb-5">Log in</h1>
  </section>
  <form method="post" action="login.php" class="form-membership box my-2">
    {% if success %}
      <article class="message is-success">
        <div class="message-body">
          {{ success }}
        </div>
      </article>
    {% endif %}
    {% if errors %}
      <article class="message is-danger">
        <div class="message-body">
          {{ errors.message }}
        </div>
      </article>
    {% endif %}

    <div class="field">
      <label class="label" for="email">Email</label>
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fa-solid fa-envelope"></i>
        </span>
        <input type="email" name="email" value="{{ email }}" id="email" class="input">
      </div>
      <div class="help is-danger">{{ errors.email }}</div>
    </div>

    <div class="field">
      <label class="label" for="password">Password </label>
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <input type="password" name="password" id="password" class="input">
      </div>
      <div class="help is-danger">{{ errors.password|raw }}</div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Log in</button>
      </div>
    </div>

    <p><a href="password-lost.php">Lost password?</a></p>
  </form>

</main>
{% endblock %}