{% extends 'layout.html' %}

{% block title %}{{ member.user_name }}{% endblock %}
{% block description %}{{ member.user_name|e('html_attr') }} on OPS{% endblock %}

{% block content %}
<main class="container" id="content">
  <section class="header">
    <h1>{{ member.user_name }}</h1>
    <p class="member"><b>Member since:</b> {{ member.joined|date('F d, Y') }}</p>
    {% if success %}
      <div class="alert alert-success">
    {{ success }}</div>{% endif %}
    {% if session.id == member.id %}
      <nav class="member-options">
        <a href="work.php" class="btn btn-primary">Add work</a><br/>
        <a href="member-edit-profile.php" class="btn btn-primary">Edit profile</a>
      </nav>
    {% endif %}
  </section>
</main>
{% endblock %}