{% extends 'layout.html' %}
{% block title %}Register{% endblock %}
{% block description %}Register for Fergusons' Operations{% endblock %}

{% block content %}
<main class="container" id="content">
  <section class="header">
    <h1 class="title mb-5">Register</h1>
  </section>
  
  {% if errors %}
  <article class="message is-danger">
    <div class="message-body">
      Please correct errors
    </div>
  </article>
  {% endif %}

  <form method="post" action="register.php" class="form-membership box my-2">
    <div class="field">
      <label for="user_name" class="label">User Name</label>
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-user"></i>
        </span>
        <input type="text" name="user_name" value="{{ member.user_name }}" id="user_name" class="input">
      </div>
      <div class="help is-danger">{{ errors.user_name }}</div>
    </div>

    <div class="field">
      <label class="label" for="email">Email address</label>
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fa-solid fa-envelope"></i>
        </span>
        <input type="email" name="email" value="{{ member.email }}" id="email" class="input">
      </div>
      <div class="help is-danger">{{ errors.email }}</div>
    </div>

    <div class="field">
      <label class="label" for="password">Password: </label>
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <input type="password" name="password" id="password" class="input">
      </div>
      <div class="help is-danger">{{ errors.password|raw }}</div>
    </div>

    <div class="field">
      <label class="label" for="confirm">Confirm password</label>
      <div class="control has-icons-left">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <input type="password" name="confirm" id="confirm" class="input">
      </div>
      <div class="help is-danger">{{ errors.confirm }}</div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Register</button>
      </div>
      <div class="control">
        <a href="login.php"><button class="button is-link is-light">Login</button></a>
      </div>
    </div>
  </form>

</main>
{% endblock %}