{% extends 'layout.html' %}
{% block content %}
<main class="container grid" id="content">
  <!-- Options -->
  <div class="options mb-5">
    {% for tb in option_tables %}
      {% if tb[0] is same as (table) %}
        <a class="button mr-2 mb-2 is-primary" href="option.php?q={{ tb[0] }}">{{ tb[1] }}</a>
      {% else %}
        <a class="button mr-2 mb-2" href="option.php?q={{ tb[0] }}">{{ tb[1] }}</a>
      {% endif %}
    {% endfor %}
  </div>
  
  <!-- Info message -->
  {% if info %}
    <article class="message is-success">
      <div class="message-body">
        {{ info }}
      </div>
    </article>
  {% endif %}

  <!-- Error messages -->
  {% if errors %}
    <article class="message is-warning">
      <div class="message-body">
        {% for error in errors %}
          <p>{{ error }}</p>
        {% endfor %}
      </div>
    </article>
  {% endif %}

  <!-- Selected table options -->
  <header class="is-flex is-align-items-center is-justify-content-space-between mb-5">
    <h1 class="title mb-0">{{ title|capitalize }}</h1>
    <a class="button is-link" href="#create-new-option">Create New Option</a>
  </header>

  <div class="options">
    {% for option in options %}
      <div class="box p-5 mb-5">
        <!-- UPDATE OPTION -->
        <form class="" action="option.php?q={{ table|e }}" method="POST">
          <input type="hidden" name="id" value="{{ option.id|e }}">
          <input type="hidden" name="t" value="update">

          <!-- FIELDS START-->
          {% for field in fields %}
            <label class="label" for="{{ field[0] }}">{{ field[1]|capitalize }}</label>
            <input class="input mr-2 mb-3" type="text" name="{{ field[0] }}" value="{{ option[field[0]]|e }}">
          {% endfor %}
          <!-- FIELDS END -->
        
          <div class="buttons">
            <button class="button is-primary mr-2" type="submit">UPDATE</button>
            <a class="button is-danger is-light" href="option.php?q={{ table|e }}&t=delete&id={{option.id|e}}">DELETE</a>
          </div>
        </form>
      </div>
    {% endfor %}
    {% if table %}
      <div class="box p-5 mb-5">
        <!-- CREATE NEW OPTION -->
        <h2 class="subtitle has-text-weight-bold">Create New Option</h2>
        <form class="" action="option.php?q={{ table|e }}" method="POST" id="create-new-option">
          <input type="hidden" name="t" value="create">
          <!-- FIELDS START-->
          {% for field in fields %}
            <label class="label" for="{{ field[0] }}">{{ field[1]|capitalize }}</label>
            <input class="input mr-2 mb-3" type="text" name="{{ field[0] }}">
          {% endfor %}
          <!-- FIELDS END -->
          <button class="button is-primary" type="submit">ADD</button>
        </form>
      </div>
    {% endif %}
  </div>
</main>
{% endblock %}